body {
    font-size: 14px;
    color: #333;
    background-color: #fff;
    letter-spacing: 1px;
}


.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
}

.slides-navigation {
    z-index: 6;
}

.arrowNav {
    z-index: 6;
}


.arrowNav a {
    z-index: 6;
    position: relative;
    display: block;
}



/*prev, next button image*/
.slides-navigation .prev,
.slides-navigation .next {
    width: 49px;
    height: 49px;
    background-size: cover;
    background-repeat: no-repeat;
}

.slides-navigation a.prev {
    left: 20px;
    background-image: url("../img/icons/prev.png");
}

.slides-navigation a.next {
    right: 20px;
    background-image: url("../img/icons/next.png");
}







.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}



.previous, .forward  {
    position: absolute;
    cursor: pointer;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: -150px;
    padding-top: 275px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    margin-right: -150px;
}




.forward {
    right: 0;
    border-radius: 0 0 0 3px;
}



.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

/*.active, .dot:hover {*/
/*    background-color: #717171;*/
/*}*/

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}


@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}









/*slider Message*/
.titleMessage {
    position: absolute;
    width: 100%;
    height: 250px;
    top: 50%;
    z-index: 5;
    text-align: center;
    margin-top: -125px;
}


.titleMessage .heading p {
    color: #fff;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    font-weight: 100;
    letter-spacing: 7px;
}

.titleMessage .heading .main {
    font-size: 50px;
}

.titleMessage .heading .sub {
    font-size: 25px;
}

.section {
    padding: 100px 0;
}

.aboutImage {

    width: 400px;
    max-width: 60%;
    border-radius: 45%;
    box-shadow: 5px 5px 10px 3px #19547b;
    margin: 50px 0 -50px 130px;
}

#aboutHeading {
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
    font-weight: 300;
    margin-top: -30px;
}

#skillsHead {
    font-size: 36px;
    margin-bottom: 50px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 10px;
    font-weight: 300;
    margin-top: -30px;
    color: #fff;
}

#subTitle {
    color: #fff;
    margin-bottom: 50px;
    margin-top: -30px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.divider {
    width: 250px;
    height: 1px;
    background: #19547b;
    margin-bottom: 50px;
    margin-top: -40px;
}

.skillsSection,
.contactSection {
    background: #ffd89b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.skill {
    text-align: center;
    margin-left: 10px;
}

.chart {
    position: relative;
    width: 152px;
    height: 152px;
    display: inline-block;
    text-align: center;
    color: #222222;
}

.chart canvas {
    position: absolute;
    left: 0;
    top: 0;
}

/*percentage for chart---commented out*/
.chart .percent {
    color: #fff;
    line-height: 152px;
    display: inline-block;
    font-size: 35px;
}

.chart .percent:after {
    content: '%';
}

span .chart {
    color: #fff;
}

.squareItem {
    margin-top: 30px;
    position: relative;
}

.squareInnerContainer {
    position: relative;
    padding: 50px 15px 35px;
    text-align: center;
    border: 2px solid #444;
    border-top: none;
}

.squareInnerContainer:after,
.squareInnerContainer:before {
    content: "";
    position: absolute;
    top: 0px;
    width: 30%;
    border-bottom: 2px solid #444;
}

.squareInnerContainer:before {
    right: 0;
}

.squareInnerContainer:after {
    left: 0;
}

.squareContent h2 {
    font-size: 59px;
    margin-bottom: 10px;
    font-weight: 400;
    color: #3c6382;
}

.squareContent h3 {
    font-size: 13px;
    font-weight: 600;
    margin: 0;
}

.squareIcon {
    position: absolute;
    left: 50%;
    top: -30px;
    width: 40%;
    height: 60px;
    font-size: 45px;
    margin-left: -20%;
    color: #444;
}

.custom-btn {

    color: #333333;
    padding: 15px 20px;
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
    margin-top: 20px;
    text-decoration: none;
    letter-spacing: 2px;
    background: transparent;
    outline: none !important;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;


}

.btn-2 {
    border: none;
    border-bottom: 2px solid #6699cc;
    border-left: 2px solid #6699cc;
    text-decoration: none;
}

.btn-2:before,
.btn-2:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    background: #6699cc;
    transition: all 0.3s ease;
    text-decoration: none;
    border-radius: 3px;
}

.btn-2:before {
    height: 0%;
    width: 2px;
    text-decoration: none;
}

.btn-2:after {
    width: 0%;
    height: 2px;
    text-decoration: none;
}

.btn-2:hover:before {
    height: 100%;
    text-decoration: none;
}

.btn-2:hover:after {
    width: 100%;
    text-decoration: none;
}


#resume {
    text-decoration: none;
    color: #6699cc;
    letter-spacing: 2px;
    border-radius: 3px;
}


/*#resume:hover {*/
/*    fill: #fff;*/
/*    transition: 0.7s;*/
/*    text-decoration: none;*/
/*    color: #ffffff;*/
/*    background-color: #316293;*/
/*}*/

.aboutIcons {
    width: 30px;
    margin-top: -75px;
}

.aboutArticle{
    margin-top: 15px;
}

.contactButton {
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    margin-top: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
}

.contactButton:hover {
    fill: #fff;
    transition: 1s;
    text-decoration: none;
    color: #fff;
    background-color: #fff;
}

.filter {
    text-align: center;
    width: 100%;
}

.filter a {
    color: #8395a7;
    border: 1px solid #8395a7;
    padding: 10px 19px;
    display: block;
}

.filter li {
    display: inline-block;
    padding: 5px;
}

.filter .current {
    background: #ffd89b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #fff;
}

.section .heading {
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
}

.items li {
    display: inline-block;
    padding: 5px;
}

/*to make items in portfolio alongside each other*/
.itemsContainer {
    width: 100%;
}

.items li img {
    width: 100%;

    /*zooming smoothly*/
    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
}

.items .item {
    position: relative;
    display: block;
    overflow: hidden;
}

.items .icons {
    position: absolute;
    width: 90px;
    height: 40px;
    left: 50%;
    top: 50%;
    margin: -20px auto 0 -47px;
    text-align: center;
    z-index: 3;
}

.items .icons .fa-search {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items .icons .fa-link {
    color: #fff;
    font-size: 20px;
    margin-top: 9px;
}

.items a {
    width: 40px;
    height: 40px;
    background: #ffd89b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    position: relative;
    display: inline-block;

    -webkit-transition: all 0.2s linear, .5s;
    -moz-transition: all 0.2s linear, .5s;
    -o-transition: all 0.2s linear, .5s;
}

.items .imgOverlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;

    -webkit-transition: all 0.2s linear, 1s;
    -moz-transition: all 0.2s linear, 1s;
    -o-transition: all 0.2s linear, 1s;
}

.items .item:hover .imgOverlay {
    opacity: 1.0;
}

.items .openButton {
    float: left;
    left: -200px;
}

.items .projectLink {
    float: right;
    right: -200px;
}

.items .item:hover .openButton {
    left: 0;
}

.items .item:hover .projectLink {
    right: 0;
}

.items .item:hover img {
    -webkit-transform: scale(1.10, 1.10);
    -moz-transform: scale(1.10, 1.10);
    -o-transform: scale(1.10, 1.10);;
}

.items {
    padding: 0;
}

.copyrightSection {
    background-color: #000;
    color: #fff;
    padding: 30px 5px;
}

.copyrightSection p {
    margin: 0;
}

#navigation {
    background: #ffd89b; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #19547b, #ffd89b); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #19547b, #ffd89b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 10px;
    z-index: 100;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
}


#navigation li {
    padding: 0 10px;
    font-weight: 300;
    font-size: 19px;
    letter-spacing: 7px;
}

#navigation li a {
    color: #fff;
}

#navigation li a:hover {
    color: #333333;
    font-weight: 700;
    transition-duration: .5s;
    font-size: 20px;
}

#navbarNav {
    justify-content: center;
}


.nav-item {
    display: inline-block;
}

.navbar-default {
    text-align: center;
}


.navbar-brand,
.navbar-brand:hover {
    color: #fff;
}

.navbar-toggler-icon {
    background: url("../img/icons/menu.png");
    background-size: cover;
}

.fixedNav #navigation {
    position: fixed;
    top: 0;
    text-align: center;
}

.loader {
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.loader .inner {
    width: 100%;
    height: 100%;
    background: url("../img/loader-gif.svg") center center no-repeat;
}

.arrow {
    position: relative;
    bottom: 3.5rem;
    left: 50%;
    margin-left: -20px;
    width: 40px;
    height: 40px;

    /**
     * Dark Arrow Down
     */
    background-image: url("../img/icons/down.png");
    background-size: contain;
}

.bounce {
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}

.owl-carousel {
    position: relative;
}

.owl-nav {
    font-size: 30px;
    position: absolute;
    top: 35%;
    width: 100%;
}

.owl-prev,
.owl-next {
    position: absolute;
}

.owl-prev {
    left: 0px;
    margin-left: -100px;
    float: left;
    margin-top: -30px;
}

.owl-next {
    right: 0px;
    float: right;
    margin-right: -100px;
    margin-top: -30px;
}

.owl-next span,
.owl-prev span{
    border-radius: 10px;
    /* height: 90px; */
    border: 2px solid;
    padding: 3px 3px 5px;
}









@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /*background: #FFF;*/
    /*font-family: 'Roboto', sans-serif;*/
    /*font-weight: 400;*/
}

.wrapper {
    display: table;
    height: 100%;
    width: 100%;
}

.container-fostrap {
    display: table-cell;
    padding: 1em;
    text-align: center;
    vertical-align: middle;
}
.fostrap-logo {
    width: 100px;
    margin-bottom:15px
}


.card {
    display: block;
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.5);
    transition: box-shadow .25s;
}
.card:hover {
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
    width: 100%;
    height:200px;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    display:block;
    overflow: hidden;
}
.img-card img{
    width: 100%;
    height: 200px;
    object-fit:cover;
    transition: all .25s ease;
}
.card-content {
    padding:15px;
    text-align:left;
}
.card-title {
    margin-top:0px;
    font-weight: 700;
    font-size: 1.65em;
}
.card-title a {
    color: #000;
    text-decoration: none !important;
}
.card-read-more {
    border-top: 1px solid #D4D4D4;
}
.card-read-more a {
    text-decoration: none !important;
    padding:10px;
    font-weight:600;
    text-transform: uppercase
}












